* {
  transition: background-color 300ms ease, color 300ms ease;
  box-sizing: border-box;
}
*:focus {
  background-color: rgba(221, 72, 20, .2);
  outline: none;
}
html, body {
  color: rgba(33, 37, 41, 1);
  font-family: -apple-system, BlinkMacSystemFont, "Open Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 16px;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
header {
  background-color: rgba(247, 248, 249, 1);
  padding: 1rem 0;
}
.menu {
  padding: .4rem 2rem;
}
header ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-align: right;
}
header li {
  display: inline-block;
}
header li a {
  border-radius: 5px;
  color: rgba(0, 0, 0, .5);
  display: block;
  text-decoration: none;
}
header li.menu-item a {
  border-radius: 5px;
  margin: 5px 0;
  line-height: 36px;
  padding: .2rem .65rem;
  text-align: center;
}
header li.menu-item a:hover,
header li.menu-item a:focus {
  background-color: rgba(221, 72, 20, .2);
  color: rgba(221, 72, 20, 1);
}
header .logo {
  float: left;
  padding: .1rem .5rem;
  font-size: 40px;
  font-weight: bold;
}
header .logo a {
  color: rgba(221, 72, 20, 1);
}
header .menu-toggle {
  display: none;
  float: right;
  font-size: 2rem;
  font-weight: bold;
}
header .menu-toggle button {
  background-color: rgba(221, 72, 20, .6);
  border: none;
  border-radius: 3px;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  font: inherit;
  font-size: 1.3rem;
  height: 36px;
  padding: 0;
  margin: 11px 0;
  overflow: visible;
  width: 40px;
}
header .menu-toggle button:hover,
header .menu-toggle button:focus {
  background-color: rgba(221, 72, 20, .8);
  color: rgba(255, 255, 255, .8);
}
section {
  margin: 0 auto;
  max-width: 1100px;
  padding: 2.5rem 1.75rem 3.5rem 1.75rem;
}
section h1 {
  margin-bottom: 2.5rem;
}
section h2 {
  font-size: 120%;
  line-height: 2.5rem;
  padding-top: 1.5rem;
}
section .heroe {
  margin: 0 auto;
  max-width: 1100px;
  padding: 1rem 1.75rem 1.75rem 1.75rem;
  background-color: rgba(247, 248, 249, 1);
}
section .heroe img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
section .heroe h1 {
  font-size: 2.5rem;
  font-weight: 500;
}
section .heroe h2 {
  font-size: 1.5rem;
  font-weight: 300;
}
section .mini-heroe {
  margin: 0 auto;
  max-width: 1100px;
  padding: 1rem 1.75rem 1.75rem 1.75rem;
  background-color: rgba(247, 248, 249, 1);
}
section .mini-heroe h2 {
  font-size: 2rem;
  font-weight: 500;
}
section pre {
  background-color: rgba(247, 248, 249, 1);
  border: 1px solid rgba(242, 242, 242, 1);
  display: block;
  font-size: .9rem;
  margin: 2rem 0;
  padding: 1rem 1.5rem;
  white-space: pre-wrap;
  word-break: break-all;
}
section #post-image {
  width: 80%;
  display: block;
  margin: 0 auto;
}
section code {
  display: block;
}
section span {
  display: block;
  color: rgba(62, 62, 62, 1);
}
section a {
  color: rgba(221, 72, 20, 1);
  margin-right: 10px;
  text-decoration: none;
}
section a:hover {
  text-decoration: underline;
}
.form-group {
  margin: 1rem 0;
}
form label {
  display: block;
  padding: 1rem 0;
}
form textarea {
  width: 100%;
  height: 500px;
  resize: none;
  padding: 1rem;
}
#comment {
  height: 250px;
}
form input {
  width: 100%;
  height: 40px;
  padding: 0 1rem;
}
form input:focus,
form input:active {
  border: 1px solid rgb(133, 133, 133);
}
form input[type="submit"] {
  margin-top: 1rem;
  background-color: rgba(221, 72, 20, .8);
  color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(221, 72, 20, .8);
}
form input[type="submit"]:hover {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(221, 72, 30, .8);
  cursor: pointer;
}
form .errors ul {
  list-style-type: none;
  padding-left: 0;
}
form .errors ul li {
  margin: .5rem 0;
  padding: 1rem;
  background-color: rgba(221, 72, 20, 1);
  color: rgba(255, 255, 255, 1);
}
.error {
  margin: .5rem 0;
  padding: 1rem;
  background-color: rgba(221, 72, 20, 1);
  color: rgba(255, 255, 255, 1);
  list-style-type: none;
}
.message {
  margin: .5rem 0;
  padding: 1rem;
  background-color: rgba(0, 177, 106);;
  color: rgba(255, 255, 255, 1);
  list-style-type: none;
}
footer {
  background-color: rgba(62, 62, 62, 1);
  color: rgba(200, 200, 200, 1);
  padding: .25rem 1.75rem;
  text-align: center;
}

@media (max-width: 750px) {
  header ul {
      padding: 0;
  }
  header .menu-toggle {
      padding: 0 1rem;
  }
  header .menu-item {
      margin: 0 15px;
      width: calc(100% - 30px);
  }
  header .menu-toggle {
      display: block;
  }
  header .hidden {
      display: none;
  }
  header li.menu-item a {
      background-color: rgba(221, 72, 20, .1);
  }
  header li.menu-item a:hover,
  header li.menu-item a:focus {
      background-color: rgba(221, 72, 20, .7);
      color: rgba(255, 255, 255, .8);
  }
}